<nav>
  <div class="nav-wrapper green lighten-1">
    <a href="/" class="brand-logo center">Eat the Burger!</a>
    <ul id="nav-mobile" class="left">
      <li><a href="/"><i class="material-icons">Home</i></a></li>
      <li><a href="/menu">View menu</a></li>
    </ul>
  </div>
</nav>